<!--FOR DIRCTIVES -->

<div>This will show you users details</div>
<div>Please Enter your Name</div>
<input type="text" name="fname" #fname [(ngModel)]="nm" ngModel>
<br>
<!-- <div *ngIf="nm>18">age is greater than 18 User is eligible for driving</div>
<div *ngIf="nm<18">age is less than 18 User is noteligible for driving</div> -->

<!-- stractural  -->
<button (click)="clickhere()">Submit</button>
<div *ngIf="eligible">age is greater than 18 User is eligible for driving</div>
<div *ngIf="noteligible">age is less than 18 User is noteligible for driving</div>
<br><br>
<h3>NgFor</h3>
<select name="" id="">
    <option value="" *ngFor="let x of courses">{{x}}</option>
</select>
<br>
<h3>Ngswitch</h3>
<div [ngSwitch]="nm">
    <div *ngSwitchCase="1">Switch used, Your age is greater than 1, you are eligibal</div>
    <div *ngSwitchCase="2">Switch used, Your age is greater than 2, you are noteligibal</div>
    <div *ngSwitchDefault="3">Switch used, Please Enter your valid age</div>
</div>
<br>
<!-- for attributes -->
<h3>NgClass</h3>
<div [ngClass]="eligible? 'truecss':'falsecss'">content</div>

<!-- custom directives -->
 custom directives 
 <h3>Custom Directives </h3>
<div appCustdir>
    <p>This is custom directive</p>
</div>
<p appCustdir>This is second custom directive</p>





