<!-- <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style> -->
<!-- <table class="table-table-info" id="xx" >
    <th >UserId</th>
    <th >Title</th>
    <th >Title</th>

<tr *ngFor="let x of postData" id="zz">
    <td>{{x.userId}}</td>
    <td>{{x.title}}</td>
    <td>{{x.body}}</td>
</tr>
</table>  -->
<table class="table-table-info" id="xx" >
    <th >id</th>
    <th >Title</th>
    <th >description</th>

<tr *ngFor="let x of postData" id="zz">
    <td>{{x.id}}</td>
    <td>{{x.title}}</td>
    <td>{{x.description}}</td>
</tr>
</table> 
