 <!-- <h2>Templateform</h2>
<h2 style="color:brown">Regitration Form</h2>
<form name="Regform" #frm ="ngForm" (ngSubmit)="onSubmitForm(frm)">
<div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" name="fname" class="form-control" #fname="ngModel" [(ngModel)]="fn">
</div>
<div class="form-control">
    <label for="lastName">lastName:</label>
    <input type="text" name="lname" class="form-control" #lname="ngModel" ngModel>
</div>

<div  class="form-control" >
    <label for="email" >Email:</label>
    <input type="email" name="email" class="form-control" #email="ngModel" ngModel>
</div>

<div  class="form-control">
    <label for="pass">Password:</label>
    <input type="password" name="password" class="form-control" #password="ngModel" ngModel>
</div>

<div  class="form-control">
    <label for="course">Courses:</label>
    <select name="Course" class="form-control" #course="ngModel" ngModel>
        <option *ngFor="let x of Courses">{{x}}</option>
    </select>
</div>

<div  class="form-control">
    <label for="gender">Gender:</label>&nbsp;
    <input type="radio" name="gender" #gender="ngModel" ngModel value="Male">&nbsp;
    <label for="Male">Male</label>&nbsp;
    <input type="radio" name="Male" #gender="ngModel" ngModel value="Female">&nbsp;
    <label for="Female">Female</label>
</div>

<div class="form-control">
    <label for="cpass">Conform password:</label>
    <input type="password" name="cpass"  class="form-control" #password="ngModel" ngModel >
</div>

<div class="form-control">
    <button type="Submit" class="btn btn-info">Submit</button>

</div>
</form>  -->
 

<!-- For Vlidation -->
<h2>Templateform</h2> 
<h2 style="color:brown">Regitration Form</h2>
<form name="Regform" #frm="ngForm" (ngSubmit)="frm.form.valid && onSubmitForm(frm)">
     <div class="form-control">
        <label for="fname">First Name: <span style="color: red;">*</span></label>
         <!-- <input type="text" name="fname" class="form-control" #fname="ngModel" (ngModel)="fn"> -->

           <input type="text" name="fname" class="form-control" #fname="ngModel" ngModel required [ngClass] ="{'is-invalid':frm.submitted && fname.invalid}" placeholder="Please Enter FirstName">
   
     <div *ngIf="frm.submitted && fname.invalid" class="invalid-feedback">
      First Name is required
    </div>
</div>

      <div class="form-control">
        <label for="lname" >Last Name: <span style="color:red ;">*</span></label>
        <input type="text" name="lname" class="form-control" #fname="ngModel" [(ngModel)]="fn">
        
     </div>

    <div class="form-control">
        <label for="email">Email: <span style="color: red;">*</span></label>
        <input type="email" name="email" class="form-control" #email="ngModel" ngModel required [ngClass] ="{'is-invalid':frm.submitted && email.invalid}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"> 
         <div *ngIf="email.touched" class="invalid-feedback"> 
        
     <div *ngIf="frm.submitted && email.invalid" class="invalid-feedback">
            Email is Required 
           <p *ngIf="email.errors?.['required']">Email is Required</p>
        <p *ngIf="email.errors?.['pattern']">Please Enter Valid Email</p>
         </div>
         </div>
      </div> 

    <div class="form-control">
        <label for="pass" >Password:<span style="color: red;">*</span></label>
        <input type="password" name="password" class="form-control" #password="ngModel" ngModel>
    </div>

    <div class="form-control">
        <label for="course">Courses:<span style="color: red;">*</span></label>
        <select name="course" class="form-control" #course="ngModel" ngModel>
            <option *ngFor="let x of Courses">{{x}}</option>
        </select>
    </div>

   
<div  class="form-control">
    <label for="gender">Gender:</label>&nbsp;
    <input type="radio" name="gender" #gender="ngModel" ngModel value="Male">&nbsp;
    <label for="Male">Male</label>&nbsp;
    <input type="radio" name="Male" #gender="ngModel" ngModel value="Female">&nbsp;
    <label for="Female">Female</label>
</div>

        <div class="form-control">
            <label for="cpass">Confirm Password:<span style="color: red;">*</span></label>
            <input type="password" name="cpass" class="form-control" #cpass="ngModel" ngModel> 
             <input type="text" name="fname" class="form-control" #fname="ngModel" ngModel required [ngClass] ="{'is-invalid':frm.submitted && cpass.invalid}" >
   
    <div *ngIf="frm.submitted && cpass.invalid" class="invalid-feedback">
      Please Enter Your Password
    </div> 
         </div>

  <div class="form-control">
        <button type="submit" class="btn btn-info">Submit</button>
    </div> 
 </form> 
