<p>forpra works!</p>
<h2 style="color:red ;"> Regitration Form:</h2>
<div class="container ">
    <form name="myForm" #frm="ngForm">
        <!--  (ngSubmit)="frm.form.valid && onSubmitForm(frm)" -->

        <div class="form-group mb-3">
            <label for="postid">postId: <span style="color: red;">*</span></label>
            <input type="text" name="fname" class="form-control" #fname="ngModel" [(ngModel)]="fna" required ngModel
                [ngClass]="{'is-invalid':frm.submitted && fname.invalid}" placeholder="Please Enter First Name">
            <div *ngIf="frm.submitted && fname.invalid" class="invalid-feedback">
                First Name is Required
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="id">id:<span style="color: red;">*</span></label>
            <input type="text" name="lname" class="form-control" >
           
        </div>

        <div class="form-group mb-3">
            <label for="email">email:<span style="color: red;">*</span></label>
            <input type="email" name="email" class="form-control" #email="ngModel" [(ngModel)]="mail" required ngModel
                [ngClass]="{'is-invalid':frm.submitted && email.invalid}"
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
            <div *ngIf="email.touched" class="invalid-feedback">
                <p *ngIf="email.errors?.['required']"> Email is Required </p>
                <p *ngIf="email.errors?.['pattern']"> Please Enter Valid Email </p>
            </div>
        </div>

        <div class="form-group mb-3">
            <label for="name">name: <span style="color: red;">*</span></label>
            <input type="text" name="fname" class="form-control" >
            
        </div>



        <div>
            <button class="btn btn-primary" *ngIf="submitButton" (click)=" onSubmitForm(frm)"
                ngSubmit="myForm.form.vaild && onSubmit(myForm)">submit</button> &nbsp;
            <button class="btn btn-warning" *ngIf="showButton" (click)="onUpdateTemp(frm)">Update</button>
            <button type="reset" class="btn btn-primary">Clear</button>
        </div>

    </form>
</div>
<br>

<b> Tabular Form:</b>

<div class="data mt-3" *ngIf="showData">
    <table class="table table-bordered">
        <tr>
            <th style="color:red ;">postId:</th>
            <th style="color:red ;">id:</th>
            <th style="color:red ;">Email:</th>
            <th style="color:red ;">name:</th>


        </tr>
        <tr *ngFor="let dat of  data; index as i">
            <td>{{dat.postId}}</td>
            <td>{{dat.id}}</td>
            <td>{{dat.email}}</td>
             <td>{{dat.fname}}</td>
           


            <td><button style="color: black;" class="btn btn-danger" (click)="onDelete(dat)">Delete</button></td>
            <td><button style="color: black;" class="btn btn-warning" (click)="onEdit(dat)">Edit</button></td>
          



        </tr>
    </table>
</div>
