<p>practice works!</p>

{{a}}

<a [href]="link" class="btn btn-link">Facebook</a>
<!-- 
<button type="text" class="btn btn-primary" (click)="renu()">Submit</button>

Please name:<input type="text" name="form" [(ngModel)]="form"> -->
<br>
<!-- my name:{{form}} -->
<!-- <button (click)="clickhere()">submit</button> -->
<!-- <div *ngIf="happy">age is grester 18</div>
<div *ngIf="sad">age is less 18</div> -->

<br>
<!-- <select name="" id="">
    <option *ngFor="let x of ad">{{x}}</option>
</select> -->
Please name:<input type="text" name="form" [(ngModel)]="form">
<button (click)="clickhere()">submit</button>
<div [ngSwitch]="n">
    <div *ngSwitchCase="1">used</div>
    <div *ngSwitchCase="2">notused</div>
</div>

<div [ngClass]="happy? 'truecss':'falsecss'">content</div>


<h3>original text:{{sample}}</h3>
<h3>Uppercase:{{sample|uppercase}}</h3>
<h3>lower:{{sample|lowercase}}</h3>
<h3>titile:{{sample|titlecase}}</h3>
<h3>date:{{date1|date: 'short'}}</h3>
<h3>original:{{salary|currency:'USD'}}</h3>

<p>{{data|json}}</p>

<table>
    <tr>
        <th>id</th>
        <th>title</th>
    </tr>
    <tr *ngFor="let x of dataapi">
        <td>{{x.id}}</td>
        <td>{{x.title}}</td>

    </tr>
</table>