<h2>Hello This is New Angular</h2>
<!-- for data binding -->
<!-- <app-binding></app-binding> -->

<!-- for directives -->
<!-- <app-directives></app-directives> -->

<!-- for templatefrom -->
<!-- <app-templateform></app-templateform> -->

<!-- for reactive form -->
<!-- <app-reactiveform></app-reactiveform> -->

<!-- for pipe -->
<!-- <app-pipe></app-pipe> -->

<!-- for child -->
<!-- <app-child></app-child> -->

<!-- for lifecycle -->
<!-- <app-lifecycle></app-lifecycle> -->

<!-- crud application -->
<!-- <app-crudapp></app-crudapp> -->

<!-- for service -->
<!-- <app-service-data></app-service-data> -->

<!-- for promise -->
<!-- <app-promise></app-promise> -->

<!-- for rxjs -->
<!-- <app-rxjs></app-rxjs> -->
<!-- <app-practice></app-practice> -->