
<nav class="navbar navbar-expand-sm bg-light navbar-light" >
  <div class="container-fluid" style="background-color: pink;">
    <ul class="navbar-nav">
<li class="nav-item">
  <a class="nav-link" href="parent">parent</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="first">First</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="second">Second</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="f">f</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="s">S</a>
</li>
<li class="nav-item">
  <!-- <a class="nav-link" routerLink="ug">UG</a> -->
  <select  (change)="onSelectUGmenu($event)">
    <option #dt *ngFor="let i of ug" value="{{i.path}}"> {{i.name}} </option>
  </select>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="pg/pgstaff">PG</a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="samp">sampaldata</a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="dt">Data</a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="newdata">Pradata</a>
</li>

<li class="nav-item">
  <a class="nav-link" routerLink="renu">RENA</a>
</li>

</ul>
</div>
</nav>

<div class="container">
<router-outlet></router-outlet>
</div>

<!-- <nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">

      <li class="nav-item">
        <a class="nav-link" routerLink="parent">Parent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="first">First</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="second">Second</a>
      </li>
    </ul>
  </div>
</nav> -->
