<!-- FOR BINDING -->

<h2 style="color: blue;">Binding</h2>
<div>
    <h3>Interpolution</h3>
    <p>{{Data}}<br></p>
</div>

<!-- Attributes/property -->
<div>
    <h3>attributes/property</h3>
    <a [href]="Link" class="btn btn link">Go To Facebook</a>
</div><br>



<!-- for two way -->
Please Enter Your Name:<input type="text" name="form" [(ngModel)]="form"><br>
Your Name:{{form}}<br>

<!-- Event -->
<h3>Event</h3>
<button class="btn btn primary" (click)="clickhere()">Submit</button>
<p>{{h}}</p>


